/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

@import 'vendor/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/* ==========================================================================
   Base Styles
   ========================================================================== */

@import 'base';

/**
 * Helper Variables & Functions
 */

 /*@font-face {
   font-family: ooredoo;
   src:
   url('../fonts/ooredoo-regular-webfont.woff2') format('woff2'),
   url('../fonts/ooredoo-regular-webfont.woff') format('woff');
 }

 @font-face {
   font-family: ooredoo;
   src:
   url('../fonts/ooredoo-bold-webfont.woff2') format('woff2'),
   url('../fonts/ooredoo-bold-webfont.woff') format('woff');
   font-weight: bold;
 }
*/

$red: #ed1d24;
$green: #62bb46;

$font: ooredoo, helvetica, arial, sans-serif;

body {
  font: 1.4em/1.4 $font;
  color: #222;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  // background: url(../img/bg.png) center top no-repeat;
  /*.flexbox & {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }*/
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  color: $red;
  &:hover, &:focus {
    color: $red;
    text-decoration: none;
  }
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.main {
  //  .flexbox & { flex: 1 0 auto; }
  position: relative;
}

/* ==========================================================================
   Module Styles
   ========================================================================== */
